<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post
        from
        being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>

  <% if @post.state == 'moderator' %>
    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :topic, class: 'form-control', :prompt => 'Select Category' %>
    <br>
    <br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<p>Статус - <%= @post.state %></p>

