<p id="notice"><%= notice %></p>

<h1>Все посты</h1>

<% @posts.each do |post| %>

  <p><%= post.title %></p>
  <p><%= post.body %></p>

  <table>
    <tbody>
    <tr>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Send to moderator', send_to_moderator_post_path(post), method: :patch %>
        <br></td>
    </tr>
    </tbody>
  </table>
  <br>
<% end %>